<!-- Aout On Footer-->
<section id="about" class="my-5 py-5 text-center bg-faded">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="info-header mb-5">
            <h1 class="text-primary pb-3">
              Why Use Result Tracker?
            </h1>

            <p class="lead pb-3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, veniam, voluptate! Beatae magni, impedit distinctio.
            </p>
          </div>

          <!-- ACCORDION -->
          <div id="accordion" role="tablist">
            <div class="card">
              <div class="card-header" role="tab" id="heading1">
                <h5 class="mb-0">
                  <div href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                    <i class="fa fa-arrow-circle-down"></i> Safe keeping af your Result
                  </div>
                </h5>
              </div>

              <div id="collapse1" class="collapse show">
                <div class="card-block">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quia eligendi possimus eaque excepturi assumenda error enim quos, libero, accusantium beatae asperiores odit neque dignissimos ducimus et vel aut repudiandae ut? Quod ducimus minima perspiciatis, minus, quas, sunt architecto odit suscipit id ut, iure. Libero accusamus nihil laudantium iste eligendi.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="heading2">
                <h5 class="mb-0">
                  <div class="collapsed" href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                    <i class="fa fa-arrow-circle-down"></i> Fast and Reliable
                  </div>
                </h5>
              </div>

              <div id="collapse2" class="collapse">
                <div class="card-block">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quia eligendi possimus eaque excepturi assumenda error enim quos, libero, accusantium beatae asperiores odit neque dignissimos ducimus et vel aut repudiandae ut? Quod ducimus minima perspiciatis, minus, quas, sunt architecto odit suscipit id ut, iure. Libero accusamus nihil laudantium iste eligendi.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="heading3">
                <h5 class="mb-0">
                  <div class="collapsed" href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                    <i class="fa fa-arrow-circle-down"></i> Accuracy in calculation
                  </div>
                </h5>
              </div>

              <div id="collapse3" class="collapse">
                <div class="card-block">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quia eligendi possimus eaque excepturi assumenda error enim quos, libero, accusantium beatae asperiores odit neque dignissimos ducimus et vel aut repudiandae ut? Quod ducimus minima perspiciatis, minus, quas, sunt architecto odit suscipit id ut, iure. Libero accusamus nihil laudantium iste eligendi.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--Main Footer-->
<footer class="pt-4 my-md-5 pt-md-5 border-top bg " style="background-color: #53b7ea;" >
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; 2019 Developers Student Clubs IMSU</small>
      </div>
      <div class="col-6 col-md">
        <h5>Result Tracker</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/about">About Us</a></li>
          <li><a class="text-muted" href="#">Terms and Conditions</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="/contact">Contact Us</a></li>
          
        </ul>
      </div>
      
      <div class="col-6 col-md">
        <h5>DSCIMSU</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted"  href="#">Team</a></li>
          
        </ul>
      </div>
    </div>
  </footer>
