<!--==========================
  Header
  ============================-->
<header id="header" class="fixed-top">
	<div class="container">

		<div class="logo float-left">
			 <!--<h4 class="text-light"><a href="#header"><span>Result Tracker</span></a></h4> -->
			 <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a>
		</div>

		<nav class="main-nav float-right d-none d-lg-block">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">FAQS</a></li>
				<li><a href="/contact">Contact Us</a></li>
				{{# if isLogin }}
				<li><a href="/dashboard">Dashboard</a></li>
				<li><a href="/logout" class="btn btn-danger">Logout</a></li>
				{{ else }}
				<li><a class="btn btn-warning" href="/signup">SignUp</a></li>
				<li><a href="/signin">SignIn</a></li>
				{{/if }}
				<ul>

				</ul>
		</nav><!-- .main-nav -->

	</div>
</header><!-- #header -->
