<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result Tracker</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css">
</head>

<body>
     {{> header}}
    <div class="container-fluid">
        {{{body}}}
    </div>
    {{> footer}}




    <script src="https://kit.fontawesome.com/a5370478c2.js"></script>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/owl.carousel.js"></script>
    <script src="/javascripts/easing.js"></script>
    <script src="/javascripts/parallax.min.js"></script>
    <script src="/javascripts/custom.js"></script>

</body>

</html>