<header id="page header" class="py-5 my-5 bg-faded">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1><span style="color:#06c0a7"> About Result Tracker </span></h1>
            </div>
        </div>
    </div>
</header>
<div class="col-md-6 offset-md-3">
    <button class="btn btn-faded d-block md-12" data-toggle="collapse" data-target="#collapse-btn-1">
        What is Result Tracker?
    </button>
    <div class="collapse" id="collapse-btn-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nulla quia assumenda ad ullam debitis
        dolore amet, quae ipsa eos.
    </div>
    <br><br>
    <hr>
    <button class="btn btn-faded d-block md-4" data-toggle="collapse" data-target="#collapse-btn-2">
        How does it work?
    </button>
    <div class="collapse" id="collapse-btn-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quod, nobis itaque in ratione asperiores? Quis
        officiis impedit nemo minus?
    </div>
    <br><br>
    <hr>
    <button class="btn btn-faded d-block md-4" data-toggle="collapse" data-target="#collapse-btn-3">
        Does it calculate for more than 5 sessions?
    </button>
    <div class="collapse" id="collapse-btn-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quasi aliquid dolorum tenetur dolorem molestiae
        voluptates unde voluptatibus incidunt excepturi.
    </div>
    <br><br>
    <hr>
    <button class="btn btn-faded d-block md-4" data-toggle="collapse" data-target="#collapse-btn-4">
        Do I request my own features?
    </button>
    <div class="collapse" id="collapse-btn-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, cumque eius. Harum rem ratione nisi, quaerat
        magnam perferendis repellat quia!
    </div>
</div>