<link rel="stylesheet" href="stylesheets/style.css">
    <header id="main-header" class="bg-success text-white p-4 mb-3">
        <div class="container">
            <h1 id="header-title">Result Tracker</h1>
        </div>
    </header>
        <div class="container">
                <div class="col-lg-5 mx-auto">
            <div id="main" class="card card-body">
                    <h2 class="title">Number Of Courses</h2>
                    <form action="" id='form' class="contact-form">
                        <input type="number" id="loopNumber" class="form-control mb-2"
                            placeholder="Enter number of courses">
                        <button  id="button" class="btn btn-dark">Enter</button>
                        <div class="card card-body" id="resultDisplay" style="display: none;"></div>
                        <div class="form-group" id="div">
                        <button  id="reset" class="btn btn-success" style="display: none;">Reset</button>
                        <button  id="save" class="btn btn-success" 
                        style="display: none;float: right">Save</button>
                        </div>
                        
                    </form>

            </div>
            
        </div> 
        </div> 
    
    <script type="text/javascript" src="javascripts/app.js"></script>
    