   {{!-- contact_us form --}}


<div class="container-fluid  bg-primary"  style="margin-top: 200px;">

    <div class="row">

        <div class="container">

                <form action="form">

                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" name="username  " placeholder=" username" class="form-control" id="username" style="width:50%;">  
                    </div>

                    <div class="form-group">
                        <label for="email">Email Address:</label>
                        <input type="email" name="email" placeholder=" Valid Email Address" class="form-control" id="email" style="width: 50%;">  
                    </div>
                    

                    <div class="form-group">
                        <label for="textarea">Talk To Us</label>
                        <textarea name="textarea" class="form-control rounded-0" id="textarea" cols="5" rows="5" style="width:50%; resize:none;" ></textarea>
                    </div>


                    
                    <button type="submit" class="btn btn-warning btn-block" style="width: 50%;" >Submit</button> 



                </form>

        </div>

    </div>

</div>