<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <br><br><br><br><br><br><br><br><br>

    <!-- Side Area Starts Here -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="user-main-info">
                    <div class="user-avatar">
                        <img src="../public/images/user.jpg" alt="user-avatar">
                    </div>
                    <h4 class="user-info">
                        <span class="user-name">Amadi Austin</span>
                        <br>
                        <span class="user-level">300 Level</span>
                        <br>
                    </h4>

                    <a href="#" class="btn btn-user-white">Edit Profile</a>

                </div>
                <div class="user-functions">
                    <hr>
                    <a href="#" class="btn btn-block"><i class="fa fa-book-open"></i>&nbsp; View Result</a>
                    <hr>
                    <a href="#" class="btn btn-block"><i class="fa fa-calculator"></i>&nbsp; Calculate GP</a>
                    <hr>
                    <a href="#" class="btn btn-block"><i class="fa fa-upload"> </i>&nbsp; Upload Result</a>
                    <hr>
                    <a href="#" class="btn btn-block"><i class="fa fa-cog"></i>&nbsp; Settings</a>
                    <hr>
                    <a href="#" class="btn btn-block"><i class="fa fa-sign-out-alt"></i>&nbsp; Sign Out</a>
                </div>

            </div>
            <!-- Side Area Stops Here -->

            <!-- Main Area Starts Here -->
            <div class="col-sm-8">
                <nav class="navbar">
                    <div class="container">
                        <a href="#" class="navbar-brand"></a>
                        <ul class="nav">
                            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                            <img src="../public/images/user.jpg" class="nav-item nav-img" alt="user">
                        </ul>
                    </div>
                </nav>
                <br>

                <div class="row">
                    <div class="col-md-5 offset-md-1">
                        <h4 class="year-text">First Year</h4>
                        <div class="card">
                            <div class="card-block">
                                <div class="d-flex flex-row">
                                    <div class="p-3 item-hl semester-info">
                                        <h4>1ST Semester</h4>
                                        <br>
                                        <h2 class="grade-point">3.5</h2>
                                    </div>
                                    <div class="p-3 item-hl semester-info">
                                        <h4>2ND Semester</h4>
                                        <br>
                                        <h2 class="grade-point">3.5</h2>
                                    </div>
                                </div>

                                <div class="average-gp">
                                    <h3>
                                        <Span>Average</Span>
                                        <Span>3.5</Span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <h4 class="year-text">Second Year</h4>
                        <div class="card">
                            <div class="card-block">
                                <div class="d-flex flex-row">
                                    <div class="p-3 item-hl semester-info">
                                        <h4>1ST Semester</h4>
                                        <br>
                                        <h2 class="grade-point">3.5</h2>
                                    </div>
                                    <div class="p-3 item-hl semester-info">
                                        <h4>2ND Semester</h4>
                                        <br>
                                        <h2 class="grade-point">3.5</h2>
                                    </div>
                                </div>
                                <div class="average-gp">
                                    <h3>
                                        <Span>Average</Span>
                                        <Span>3.5</Span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-5 offset-md-1">
                        <h4 class="year-text">Third Year</h4>
                        <div class="card">
                            <div class="card-block">
                                <div class="d-flex flex-row">
                                    <div class="p-3 item-hl semester-info">
                                        <h4>1ST Semester</h4>
                                        <br>
                                        <h2 class="grade-point">3.5</h2>
                                    </div>
                                    <div class="p-3 item-hl semester-info">
                                        <h4>2ND Semester</h4>
                                        <br>
                                        <h2 class="grade-point">3.5</h2>
                                    </div>
                                </div>
                                <div class="average-gp">
                                    <h3>
                                        <Span>Average</Span>
                                        <Span>3.5</Span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <h4 class="year-text">Fourth Year</h4>
                        <div class="card">
                            <div class="card-block">
                                <div class="d-flex flex-row">
                                    <div class="p-3 item-hl semester-info">
                                        <h4>1ST Semester</h4>
                                        <br>
                                        <h2 class="grade-point">3.5</h2>
                                    </div>
                                    <div class="p-3 item-hl semester-info">
                                        <h4>2ND Semester</h4>
                                        <br>
                                        <h2 class="grade-point">3.5</h2>
                                    </div>
                                </div>
                                <div class="average-gp">
                                    <h3>
                                        <Span>Average</Span>
                                        <Span>3.5</Span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="container">
                        <div class="footer-links">
                            <a href=""><i class="fa fa-arrow-left"></i>&nbsp; Reset All</a>
                            <a href="">Sign Out</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Area Stops Here -->
        </div>
    </div>
</body>