<!-- Home -->

	<div class="home">
		<div class="home_slider_container">
			<!-- Home Slider -->
			<div class="owl-carousel owl-theme home_slider">
				
				<!-- Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-color:aqua;
					width:1000"></div>
					<div class="home_content">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content_inner">
										<div class="home_title"><h2>We would be glad to help you calculate your GPA and keep record of your results</h2></div>
										<div class="home_text">
											<p>We help you to keep track of your results</p>
										</div>
										<div class="button home_button">
											<a href="/app">Get Started</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>