<!--==========================
    Intro Section
  ============================-->
<section id="intro" class="clearfix">
  <div class="container">

    <div class="intro-img">
      <img src="img/index.svg" alt="" class="img-fluid">
    </div>

    <div class="intro-info">
      <h2>We Help You<br><span> Keep Track</span><br>Of Your Results!</h2>
      <div>
        <a href="/app" class="btn-get-started scrollto">Get Started</a>
        <a href="/signup" class="btn-services scrollto">Join A Group</a>
      </div>
    </div>

  </div>
</section><!-- #intro -->

<main id="main">

  <!--==========================
      About Us Section
    ============================-->
  <section id="about">
    <div class="container">

      <header class="section-header">
        <h3>About Us</h3>
        <p>The Result Checker is your one -stop solution  to keep track of your results. All we need is the data and it is done!</p>
      </header>

      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <p>
            You need not bother about loosing track of any of your results. We are here to relief you of that worry.
          </p>

          <div class="icon-box wow fadeInUp">
            <div class="icon"><i class="fa fa-shopping-bag"></i></div>
            <h4 class="title"><a href="">Safe keeping af your Result</a></h4>
            <p class="description">With us, your Result and data are safe and always handy wherever you go!</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-photo"></i></div>
            <h4 class="title"><a href="">Fast and Reliable</a></h4>
            <p class="description">With your access to the internet, you can depend on us for ease of service, on time and efficient solutions</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title"><a href=""> Accuracy in calculation</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat tarad limino ata</p>
          </div>

        </div>

        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
          <img src="img/about-img.svg" class="img-fluid" alt="">
        </div>
      </div>



    </div>

    </div>
  </section><!-- #about -->

</main>