<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3  bg bg-primary">
            <br><br><br><br> <br> <br><br><br><br> <br>
            <br><br><br><br>

            <h2 style="color: white;">ResultTracker</h2>

            <br><br><br><br> <br> <br><br><br><br> <br>
            <br><br><br><br> <br>
        </div>
        <div class="col-md-2 col-md-offset-2"></div>
        <div class="col-md-5 col-md-offset-5">
            <br><br><br><br> <br>
            <div class="shadow p-5">
                <div>
                    {{#if hasErrors}}
                    <div class="alert alert-danger">
                        <ul>
                            {{# each messages }}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>

                    </div>
                    {{/if}}
                </div>
                <h3>
                    <center>Your Result IS In Safe Hands</center>
                </h3>
                     
                <form action="/save" method="POST" class="">
                  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <button type="submit" class="btn btn-primary btn block col-md-12">ClICK TO SAVE</button>
                </form>
                
           
            </div>
           
        </div>
        <div class="col-md-2 col-md-offset-2"></div>
    </div>
</div>