<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sign up</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
</head>
<body>
        <div class="col-md-4">
            <div class="card-block">
                <h3> Sign Up and start tracking</h3>
                <p>Fill out this form to register</p>
                <form>
                    <div class="form-group">
                        <input type="text" name="username" class="form-control form-control-lg"
                        placeholder="Username">    
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control form-control-lg"
                        placeholder="email">    
                     </div>
                     <div class="form-group">
                        <input type="password" name="password" class="form-control form-control-lg"
                        placeholder="Password">    
                    </div>
                </div>
                <div class="form-group">
                   <input type="password" name="password2" class="form-control form-control-lg"
                   placeholder="Confirm Password">    
               </div>
               <input type="submit" value="Submit" class="btn btn-outline-warning btn block">
                </form>
            </div>
        </div>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>