<link rel="stylesheet" href="stylesheets/style.css">
<br><br><br><br>
<header id="main-header" class="bg-primary text-white p-4 mb-3">
    <div class="container">
        <h1 id="header-title">Result Tracker</h1>
    </div>
</header>

<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
    <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
        {{successMsg}}
    </div>
</div>