

<link rel="stylesheet" href="stylesheets/style.css">
    <br><br><br><br>
        <header id="main-header" class="bg-primary text-white p-4 mb-3">
                <div class="container">
                    <h1 id="header-title">Result Tracker</h1>
                </div>
            </header>

    <div class="container">
<div class="row">
    <div class="col-md-6 col-md-offset-6">
        <h3>Sign Up</h3>
       <div>
           {{#if hasErrors}}
            <div class="alert alert-danger">

                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div> 
{{/if}}
       </div>
         <form  action="/signup" method="POST" >
    		<div class="form-group">
    			<label for="title">Name:</label>
                <input type="text" name="name" 
                class="form-control"  placeholder="Email">
    		</div>
            <div class="form-group">
    			<label for="title">Email:</label>
                <input type="email" name="email" 
                class="form-control"  placeholder="Enter Your Email">
    		</div>
            <div class="form-group">
    			<label for="title">MatNumber:</label>
                <input type="text" name="matnumber" 
                class="form-control"  placeholder="Enter Your Matnumber">
    		</div>
            <div class="form-group">
    			<label for="title">School:</label>
                <input type="text" name="school" 
                class="form-control"  placeholder="Enter Your School">
    		</div>
            <div class="form-group">
    			<label for="title">Department:</label>
                <input type="text" name="department" 
                class="form-control"  placeholder="Enter Your Department">
    		</div>
            <div class="form-group">
    			<label for="title">Password:</label>
                <input type="password" name="password" 
                class="form-control"  placeholder="Password">
    		</div>
            <input type="hidden" name ="_csrf" value="{{ csrfToken }}">
            <div class="form-group">
    			<button type="submit" name="submit" class="btn btn-primary">Signup</button>
    		</div>
            </form>
            
    </div>
</div>
</div>