<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3  bg bg-primary hidebg">
            <br><br><br><br> <br> <br><br><br><br> <br>
            <br><br><br><br>

            <h2 style="color: white;">ResultTracker</h2>

            <br><br><br><br> <br> <br><br><br><br> <br>
            <br><br><br><br> <br>
        </div>
        <div class="col-md-2 col-md-offset-2"></div>
        <div class="col-md-5 col-md-offset-5">
            <br><br><br><br> <br>
            <div class="shadow p-5">
                <div>
                    {{#if hasErrors}}
                    <div class="alert alert-danger">
                        <ul>
                            {{# each messages }}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>

                    </div>
                    {{/if}}
                </div>
                <h3>
                    <center>Fill The Following Details</center>
                </h3>

                <form action="/signin" method="POST" class="">

                    <div class="form-group">
                        <label for="title">Email:</label>
                        <input type="" name="email" class="form-control" placeholder="Enter Your Email">
                    </div>

                    <div class="form-group">
                        <label for="title">Password:</label>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>

                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <input type="submit" value="Sign In" class="btn btn-primary btn block col-md-12"><br><br>
                    <span></span><p>Dont have an account?<a href="/signup" id="mybtn">signup</a></p></span>
                </form>

            </div>

        </div>
        <div class="col-md-2 col-md-offset-2"></div>
    </div>
</div>