h1{
    margin: 0px;
    padding: 0px;
    width: auto;
    text-align: center;
    background-color: rgb(6, 192, 167);
    
}
#mybtn{
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 24px;
    padding: 6px;
    color:white;
    background-color: rgb(192, 111, 6);
}